In [2]:
import os
import pandas as pd
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV

In [3]:
col_names = [
    'age', 
    'workclass', 
    'fnlwgt', 
    'education', 
    'education-num', 
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital-gain',
    'capital-loss',
    'hours-per-week', 
    'native-country',
    'income']

np.random.seed(0)

In [4]:
DATA_DIR = "data"
fn = os.path.join(DATA_DIR, "adult.csv")
df = pd.read_csv(fn, header=None, sep=";", names=col_names)

In [8]:
df.iloc[:, [9]]

          sex
0        Male
1        Male
2        Male
3        Male
4      Female
5      Female
6      Female
7        Male
8      Female
9        Male
10       Male
11       Male
12     Female
13       Male
14       Male
15       Male
16       Male
17       Male
18       Male
19     Female
20       Male
21     Female
22       Male
23       Male
24     Female
25       Male
26       Male
27       Male
28       Male
29       Male
...       ...
32531  Female
32532    Male
32533    Male
32534  Female
32535    Male
32536  Female
32537    Male
32538  Female
32539    Male
32540  Female
32541  Female
32542    Male
32543  Female
32544  Female
32545  Female
32546  Female
32547    Male
32548    Male
32549  Female
32550    Male
32551    Male
32552    Male
32553    Male
32554    Male
32555    Male
32556  Female
32557    Male
32558  Female
32559    Male
32560  Female

[32561 rows x 1 columns]

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.where(df.age == 39).dropna(axis=0).iloc[:, [0,8] ]

In [5]:
numeric_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain','capital-loss', 'hours-per-week']
categorical_cols = [c for c in col_names if c not in numeric_cols]

# here we select which are the input columns and which the output columns
target_col = 'native-country'
source_cols = [c for c in df.columns if c!=target_col]

# We create the preprocessing pipelines for both numeric and categorical data.
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, [c for c in numeric_cols if c!=target_col]),
        ('cat', categorical_transformer, [c for c in categorical_cols if c!=target_col])])

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', LogisticRegression(solver='lbfgs'))])

X = df.drop(target_col, axis=1)
y = df[target_col]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [7]:
clf.fit(X_train, y_train)
print("model score: %.3f" % clf.score(X_test, y_test))

/home/philipp/anaconda3/envs/mlfd/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/home/philipp/anaconda3/envs/mlfd/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/philipp/anaconda3/envs/mlfd/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/philipp/anaconda3/envs/mlfd/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

model score: 0.899